html, body {
  margin: 0;
  padding: 0;
}

.t1 {
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  margin-top: 80vh;
  color: #a0a0a0;
  font-size: 25px;
}

.t2 {
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  margin-top: 5vh;
  color: #a0a0a0;
  font-size: 20px;
}

.t3 {
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  font-size: 200%;
  background-color: #d1d1d1;
  border: none;
  color: white;
  padding: 1% 3%;
  display: inline-block;
  outline: none;
}

.t3:hover {
  /*background-color: #b7b7b7;*/
  outline: none;

}

.t4 {
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  line-height: 100px;
  margin-top: 5vh;
  color: #a0a0a0;
  font-size: 36px;
}

canvas {
  padding: 0;
  margin: auto;
  display: block;
  width: 800px;
  height: 600px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
