<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.5.2/randomColor.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.11/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.11/addons/p5.dom.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100" rel="stylesheet">

    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div id="canvasDiv"></div>
<div class="t1"><a id="username"><%= u.id %></a><a>'s musicScape</a></div>


<script type="text/javascript" src="/javascripts/sketch.js"></script>



</body>

</html>
