html, body {
  margin: 0;
  padding: 0;
}

.t1 {
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  margin-top: 80vh;
  color: #a0a0a0;
  font-size: 2em;
}

@media only screen and (max-device-width: 768px) {
  /* For mobile phones: */
  .t1 {
    font-size: 3em;
  }
}

.t2 {
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  margin-top: 5vh;
  color: #a0a0a0;
  font-size: 20px;
}

.t3 {
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  font-size: 2em;
  background-color: #d1d1d1;
  border: none;
  color: white;
  padding: 0.4em 0.8em;
  display: inline-block;
  outline: none;
}

.t3:hover {
  outline: none;
}

.t4 {
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  line-height: 100px;
  margin-top: 5vh;
  color: #a0a0a0;
  font-size: 3em;
}

.t5 {
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  margin-top: 1vh;
  margin-bottom: 5vh;
  color: #a0a0a0;
  font-size: 1.5em;
}

@media only screen and (max-device-width: 768px) {
  /* For mobile phones: */
  .t3 {
    font-size: 5em;
    padding: 0.2em 0.5em;
  }
  .t4 {
    font-size: 5em;
    margin-bottom: 0.5em;
  }
  .t5 {
    font-size: 2.5em;
    margin-bottom: 1em;
  }
}

canvas {
  padding: 0;
  margin: auto;
  display: block;
  width: 800px;
  height: 600px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Tooltip */

/* Tooltip container */

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  /* If you want dots under the hoverable text */
}

/* Tooltip text */

.t1 .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: white;
  opacity: 0.75;
  color: #a0a0a0;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 0.25em;
  text-align: center;
  /* Position the tooltip text - see examples below! */
  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  /* Use half of the width (120/2 = 60), to center the tooltip */
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */

.t1:hover .tooltiptext {
  visibility: visible;
}
